In [1]:
# 셀 별로 러닝타임 측정
%load_ext autotime

time: 0 ns (started: 2024-06-13 02:56:46 +09:00)

In [2]:
from kiwipiepy import Kiwi
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

time: 9.3 s (started: 2024-06-13 02:56:46 +09:00)

In [3]:
# Kiwi 선언
kiwi = Kiwi()

# 단어사전 만들 데이터셋 불러오기
train_df = pd.read_csv("../data/train.csv")

# 대화 데이터를 담은 리스트
sentences = train_df['HS'].tolist()

time: 969 ms (started: 2024-06-13 02:56:55 +09:00)

In [4]:
# 체언(NNG, NNP,  NR, NP), 용언(VX, VCN), 어근에 해당 하는 품사와 일반 부사(MAG), 체언 접두사(XPN)만을 선별
target_tags = ['NNG', 'NNP', 'NR', 'NP', 'VCN', 'MAG', 'XPN']

# 단어 사전을 담을 리스트
word_dict = []

# 형태소 분석 및 타겟 품사 선별
for sentence in sentences:
    for word, pos, _, _ in kiwi.analyze(sentence)[0][0]:
        if pos in target_tags:
            word_dict.append((word, pos))

# 데이터프레임으로 변환
word_df = pd.DataFrame(word_dict, columns=['Word', 'POS'])

time: 2min 22s (started: 2024-06-13 02:56:56 +09:00)

In [6]:
word_df

       Word  POS
0         일  NNG
1         왜  MAG
2         끝  NNG
3         화  NNG
4        그냥  MAG
...     ...  ...
792917   의심  NNG
792918   불신  NNG
792919   마음  NNG
792920   사람  NNG
792921  색안경  NNG

[792922 rows x 2 columns]

time: 15 ms (started: 2024-06-13 03:00:58 +09:00)

In [12]:
# 중복을 제거한 단어 사전
unique_word_df = word_df.drop_duplicates(subset='Word')
unique_word_df

        Word  POS
0          일  NNG
1          왜  MAG
2          끝  NNG
3          화  NNG
4         그냥  MAG
...      ...  ...
789529  참관수업  NNP
790056    명심  NNG
791386   소득원  NNG
792480   여배우  NNG
792557  야금야금  MAG

[11611 rows x 2 columns]

time: 63 ms (started: 2024-06-13 03:17:13 +09:00)

In [13]:
# 단어 사전 출력
unique_word_df.to_csv('../data/new_vocab.csv', encoding='utf-8', index = False)

time: 16 ms (started: 2024-06-13 03:18:06 +09:00)